/* header { */

/* background-image: url()  */

/* background-size: cover; */

/* background-position: 80%; */

/* } */

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.px-1 {
  padding-right: calc(1rem * 0.5);
  padding-left: calc(1rem * 0.5);
}

header nav {
  padding-top: calc(2.5rem);
  padding-right: calc(2.5rem);
}

header h2 a {
  color: cornflowerblue;
}

header h2 {
  padding-top: calc(2.5rem);
}

.nav-active {
  background-color: black ;
  text-decoration: underline;
}

header nav ul {
  list-style: none;
}

a, span {
  text-decoration: none;
  font-weight: normal;
}

li {
  list-style: none;
}

nav li {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: cornflowerblue
}

#works {
  margin: 20px;
  position: relative;
  height: 300px;
  width: 400px;
}

.projectImage {
  height: 300px;
  width: 400px;
  display: block;
  position: relative;
}


.linkContainer {
  top: 50px;
  left: 25px;
  position: absolute;
  transition: .8s ease;
  opacity: 0;
  background: linear-gradient(rgb(0, 243, 255, 0.6));
  padding: 10px;
}

.links {
  font-size: 24px;
}

.projectName, .github-link {
  color: black;
  margin-right: 20px;
  text-decoration: none;
  padding: 2px;
}

#works:hover .projectImage {
  transition: 0.8s ease;
  opacity: .3;
}

#works:hover .linkContainer {
  opacity: 1;
  transition: .8s ease;
}

.github-link:hover, .projectName:hover {
  background-color: cornflowerblue;
  border-radius: 20px;
  transition: .8s;
  text-decoration: underline;
}

.portfolioContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 100px 200px 100px;
}

.resumeSection {
  color: cornflowerblue;
  margin-top: 30px;
  margin-bottom: 200px;
  background-color: black;
  transform: translate(150%, 0%);
  height: fit-content;
  width: fit-content;
  padding: 100px;
  text-align: center;
}

.resumeLink {
  background-color: blue;
  padding: 5px;
  border: solid cornflowerblue 3px;
  border-radius: 20px;
  transition: .5s
}

/* Footer Styling */

footer {
  padding: 10px 0;
  margin-top: 20px;
}

footer ul {
  width: 100%;
}

.footerItem {
  margin-left: 20%;
  display: inline-block;
}

.footerLink {
  text-decoration: none;
  font-size: 1.5em;
  color: cornflowerblue;
}